<br>
<br>

<%= render 'form', post: @post %>

<div class="pager">
	<div class="btn-group" role="group">
		<%= link_to 'View Comments', @post, class: "btn btn-primary btn-lg" %>
		<%= link_to 'Back to Index', posts_path, class: "btn btn-primary btn-lg" %>
	</div>
</div>